*
{
    font-family: Teko;
    color: white;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
}

body
{
    
  /*background-color: grey;*/
    background-image: url("backgroundcolorBlocks.PNG");
    
}
#Paul
{
    color: red;
    margin-left: 5%;
}
#Francis
{
    color: white
}
.name
{
   
    margin-left: 0.25%;
    font-size: 4.75vh;
    padding: 0;
    display: inline;
}
#nameContainer
{
    width: 75%;
}
.siteHeader
{
    height: 5%;
    min-height: 20px;
    width: 105%;
    margin-left: -3%;
    position: fixed;
    z-index: 1;
    
    top: -5px;
    background: linear-gradient(slategray,lightslategray);
    /*background: repeating-linear-gradient(
        45deg,
        rgb(037,037,037),
        rgb(037,037,037) 10px,
        lightgray 10px,
        lightgray 20px
    );*/
    /*border: 5px solid black;*/
    display: flex;
    /*border-radius: 0 0 25px 25px;*/
}
#headerTabBar
{
    margin-top: 0;
    z-index: 1;
    margin-left: -20%;
    flex: 1;
    float: left;
}
.headerTabs
{
    text-align: center;
    padding: 0.62% 1%;
    margin-left: 1%;
    font-size: 2vh;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    display: inline-block;
}
#paulGamesWebpageContainer
{
    display: inline-block;
    margin: 1% 5%;
    /*border-left: 5px solid black;
    border-right: 5px solid black;*/
    background-color:rgb(32,32,32);
    

}
#backgroundImage
{
    width: 100%;
    height: 100%;
    z-index: -1;
}
#pageWelcome
{
    margin-left: 12%;
    font-size: 1.75vh;
}
#welcomeParagraph
{
    font-size: 2vh;
}
#proficientText,#familiarText,#playedAroundWithText
{
    margin-left: 5%;
    font-size:calc(12px + 1vw);
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.webpageTab
{
    width: 100%;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
    background-color: gray;
    background: repeating-linear-gradient(
        45deg,
        rgb(037,037,037),
        rgb(037,037,037) 10px,
        rgb(80,80,80) 10px,
        rgb(80,80,80) 20px
    );
}
#welcomeContainer,#currentWorkContainer
{
    width: 86%;
    min-height: 45px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 43%;

}
#leftWelcome,#leftCurrentWork
{
    width: 50%;
    float: left;
    background-color: crimson;

}
#rightWelcome,#rightCurrentWork
{
    width: 50%;
    float: left;
    background-color: blue;
}
.numberCruncherText
{
    font-size: 1.75vw;
}
#currentWorkImage
{
   
    width: 57%;
    margin-top: 0%;
    margin-left: 25%;
}
.SubTab
{
    margin-top: -1%;
    padding: 5px 0px 0px 0px;
    background: repeating-linear-gradient(
        -45deg,
        rgb(160,160,160),
        rgb(160,160,160) 10px,
        grey 10px,
        grey 20px
    );
    background-color: lightgray;
}
.SlideButton
{
    border: none;
    padding: 8px 16px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    height: 200px;
    padding: 5px;
}
.PartDropperSlideShow
{
  max-width: 90%;
  margin: 2.5% 10% 0 10%;
  padding: 1% 1% 1% 1%;
  /*background-color: white;
  border: 5px solid black;*/
  border-radius: 2.5%;
}
.PartDropperSlides
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5%;
    
}
.Slides,.Slides_02
{
    margin-left: 20%;
    margin-bottom: 1%;
    max-width: 60%
}
#PartDropperThumbnailsContainer
{
    margin-left: 1%;
}
.PartDropperThumbnails
{
    cursor: pointer;
    display: inline-block;
    width:14%;
}
#partDropperText
{
    margin: 0 10%;
    font-size: 1.75vw;
}
.Demo
{
    cursor: pointer;
    display: inline-block;
    width: 24%;
}
.DemoContainer
{
    margin-left: 2.5%
}
