.tabs{
    color: blue;
    display: inline;
    border: 1px;
    border-color: black;
}
.PlayingCard
{
    background-color: gray;
    border-color: black;
    width: 214px;
    height: 320px;
    max-width: 640px;
    max-height: 960px;
}